.main-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* Input */
.list-input-button-container {
  margin: 1rem auto;
  width: 80%;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.1rem;
}

.list-input {
  flex: 3 0 0;
  border-radius: 5px;
  border: solid blue 2px;
  font-size: 1rem;
}

.list-input:focus {
  outline: solid rgb(57, 57, 255) 1px;
}

.add-list-button {
  flex: 1 0 0;
  font-size: 1rem;
  background-color: white;
  border-radius: 5px;
  border: solid blue 2px;
  cursor: pointer;
  transition: 0.5s;
}

.add-list-button:hover {
  border: solid white 2px;
  background-color: #1b98e0;
  color: white;
}

/* List */
.list-container {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  cursor: pointer;
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 5px;
}

.list-item-p {
  font-size: 1.2rem;
  flex: 1 0 0;
}

.list-item-btn {
  width: 100px;
  padding: 0.3rem 0;
  display: none;
  background-color: white;
  border-radius: 5px;
  border: solid blue 2px;
  cursor: pointer;
  transition: 0.5s;
}

.list-item-btn:hover {
  border: solid white 2px;
  background-color: #1b98e0;
  color: white;
}

.list-item:hover {
  -webkit-box-shadow: 2px 3px 12px 0px rgba(27, 152, 224, 0.64);
  box-shadow: 2px 3px 12px 0px rgba(27, 152, 224, 0.64);
}

.list-item:hover .list-item-btn {
  display: block;
}

.no-do-list {
  font-size: 1.3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.432);
}

/* Responsive */

@media screen and (max-width: 600px) {
  .add-list-button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .list-input {
    font-size: 0.8rem;
  }
}
